 <div>
		     <div style="padding-top:12px; padding-left:12px;padding-bottom:4px;"><b><font size=4>Profile</font></b></div>
			  <div style="padding-bottom:12px; padding-left:12px;"><font style="color:#999999">This Information appears on your public profile, search results, and beyond.</font></div>
			</div>
			<form id="profile-form" method="POST" action="#">
 			 <div class="tweet-box" style="padding: 9px 12px 9px;">
				  
			 </div>
			 <div class="tweet-box" style="padding: 9px 12px 9px;">
				  <label for="name">Name</label><div class="text-area"><input class="tweet-textarea" type="text" id="name" /></div>
				  <label for="location">Location</label><div class="text-area"><input class="tweet-textarea" type="text" id="location" /></div>
				  <label for="website">Website</label><div class="text-area"><input class="tweet-textarea" type="text" id="website" /></div>
				  <label for="bio">Bio</label><div class="text-area"><input class="tweet-textarea" type="text" id="bio" /></div>
			 </div>	
 		    <div class="tweet-box" style="padding: 9px 12px 9px;">
				  <div align="center"><button id="settings_save" class="btn-highlighted" type="submit">Save changes</button></div>
			 </div>
			</form>
