<div id="menu">
	<div>
	<table VALIGN=MIDDLE height="100%" width="100%">
		<tr><td>
                 <%home_icon=image_tag("home.png", :alt=>"Home", :width=>"32", :height=>"32")%>
                 <%=link_to home_icon, home_path %>
                 <small style="color:white"><b>Home</b></small></a>
                   </td>
                   <td width="700px"></td>
                   <td>
                   <%=image_tag("man-icon.png", :id=>"profile-button", :width=>"32",:height=>"32")%>
                </td></tr>
	 </table>
	</div>
</div>
