<div id="profile-popup" class="drop-down-menu">
	<div style="padding: 5px 20px 5px;">
			 <table>
   		  <tr border="none" VALIGN=TOP>
				<td>
 				  <div>
				      <%=image_tag("default_profile_0_normal.png", :class=>"profile-image", :style=>"width: 32px; height: 32px;")%>
				   </div>
				</td>
				<td colspan="2" style=" padding-left:8px;">
				
 				  <div style="font-size:12px">
                                    <%=link_to "Nagesh Vanam",own_path%>
                                  </div>
 				 
 				  <small style="color:#999999">View my profile page</small>
    			</td>
			  </tr>
			 </table>
	</div>
</div>
