<div class="tweet-box">
     <div style="padding: 9px 12px 9px;">
	 <table bordar="none" width="100%">
	<tr VALIGN=TOP>
	 <td rowspan="2" width="45px">
          <%tweet_img=image_tag("BGtwitter_normal.JPG", :width=>"60px", :height=>"60px", :class=>"profile-image") %>			
	  <%=link_to tweet_img,"#" %>
	 </td>
	 <td style=" padding-left:8px;">
	  <%=link_to "Bill Gates","#" %>
	 </td>
         <td></td>
	 <td align="right"><small style="color:gray">1h</small></td>
        </tr>
        <tr>
         <td colspan="3" style=" padding-left:8px;">
           .@mark_penn Had great chat w/Friedman, touched on quality of life data. Response was interesting http://b-gat.es/AppLhg http://pic.twitter.com/MM5x3saQ
         </td>
        </tr>
  </table>
 </div>
</div>
