<html>
<head>
<title>Twitter</title>
<link href="stylesheets/style.css" rel="stylesheet" type="text/css" />
<link href="stylesheets/front.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="javascripts/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="javascripts/login.js"></script>
</head>

<body class="login-page">
<div id="menu">
	<div>
	<table VALIGN=MIDDLE height="100%" width="100%">
		<tr><td></td><td width="610px"></td><td><small id="signin-btn" style="cursor:hand;float:right; color:#bbbbbb;font-size:12px;font-weight:normal;">Have an account? Sign in</small>

<fieldset id="signin_menu">
    <form method="post" id="signin" action="https://twitter.com/sessions">
      <label for="username">Username or email</label>
      <input id="username" name="username" value="" title="username" tabindex="4" type="text">
      </p>
      <p>
        <label for="password">Password</label>
        <input id="password" name="password" value="" title="password" tabindex="5" type="password">
      </p>
      <p class="remember">
        <input id="signin_submit" value="Sign in" tabindex="6" type="submit">
        <input id="remember" name="remember_me" value="1" tabindex="7" type="checkbox">
        <label for="remember">Remember me</label>
      </p>
    </form>
</fieldset>

</td></tr>
	 </table>
	</div>

</div>


<div style="width: 860px;margin: 0px auto;padding-top: 160px;">
<table width="100%">
<tr>
<td width="520px"></td>
<td>
	<div class="round-box rb-gradient">
	  <table style="font-size:16px; padding:10px"><tr><td>New to Twitter? <span style="color:gray;">Sign up</span></td></tr></table>
	  <div class="tweet-box" style="padding:10px">
	       <form id="signup-form" method="post" action="#">
		<input type="text" id="user-name" value="Full Name"/>
		<input type="text" id="email" value="Email"/>
		<input type="password" id="password" value="Password"/> 
		<input type="submit" value="Sign up for Twitter" style="background:#fdda4c;"/>
	       </form>
 	  </div>
	</div>
</td>
</tr>
</table>
</div>

</body>
</html>

