<html>
<head>
<title>Twitter</title>
<script type="text/javascript" src="javascripts/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="javascripts/others.js">

</script>
<link href="stylesheets/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="menu">
	<div>
	 <table VALIGN=MIDDLE height="100%" width="100%">
		<tr><td><a href="home.html"><img src="images/home.png" width="32" height="32" /><small style="color:white"><b>Home</b></small></a></td><td width="700px"></td><td><img src="images/man-icon.png" width="32" height="32" /></td></tr>
	 </table>	
	</div>
</div>
<div id="container">
	<div class="round-box" id="acc-header">
		<table style="padding:10px">
			<tr VALIGN=TOP>
				<td><img style="width: 128px;	height: 128px;" class="profile-image" src="images/default_profile_add_photo.png" /></td>
				<td width="535px" style="padding-left:8px"><b style="font-size:1.8em;">nagesh</b><div  style="color:gray;">@ngshvanam</div></td>
				<td>
					<a href="profile.html" style="color:#000000; text-decoration:none;" class="edit-profile-btn">Edit Your Profile</a>
					
					<table height="100%" width="100%" style="padding-top:10px;" >
					<tr >
						<td style="padding-bottom:4px">
							<div style="font-size: 14px;"><b>237</b>&nbsp;<span onclick="$('#own-page :nth-child(1)').click()" style="color: #999;font-size: 10px;line-height: 16px;text-transform: uppercase;">Tweet</span></div>			
						</td>
					</tr>
					<tr height="1" bgcolor="#dddddd">
					  <td></td>
					</tr>
					<tr >
					  <td style="padding-top:4px; padding-bottom:4px">
					  		<div style="font-size: 14px;"><b>98</b>&nbsp;<span onclick="$('#own-page :nth-child(2)').click()" style="color: #999;font-size: 10px;line-height: 16px;text-transform: uppercase;">Following</span></div>
					  </td>
					</tr>
					<tr height="1"  bgcolor="#dddddd">
					  <td></td>
					</tr>
					<tr >
					  <td style="padding-top:4px; padding-bottom:4px">
					  		<div style="font-size: 14px;"><b>156</b>&nbsp;<span onclick="$('#own-page :nth-child(3)').click()" style="color: #999;font-size: 10px;line-height: 16px;text-transform: uppercase;">Followers</span></div>
					  </td>
					</tr>
					</table>
				</td>
			</tr>		
		</table>
	</div>
	<div class="dashboard">
	
		<div id="mini-profile" class="round-box">
			<div style="padding: 10px 10px 10px;">
 				  Tweet to Nagesh Vanam
			</div>
					
			<div id="temp" style="padding: 10px 10px 10px;" class="tweet-box">
			 		<div class="text-area">
			 		<textarea rows="1" id="tweet" class="tweet-textarea">Compose new Tweet...</textarea>
			 		</div>
			 		<div style="display:none">
			 		<table style="padding-top: 12px;" border="0" cellspacing="0" cellpadding="0">
			 			<tr align="right">
			 			<td width="230px" style="padding-right:8px">
						<img src="images/img.gif" style="display:none; width:60px; height:30px;"/>
			 			<div id="char-count" style="color: #999;font-size: 14px;line-height: 16px;text-transform: uppercase;">140</div>
			 			</td>
			 			<td>
			 			<a id="btn-tweet" style="color:#000000; text-decoration:none;" class="btn" href="#">Tweet</a>
			 			</td>
			 			</tr>
			 		</table>
			 		</div>
			</div>
		</div>
   	<div id="own-page" class="round-box">
			<div class="tweet-box own-link selected" style="border-top:0px; padding-left:10px;padding-right:10px;padding-top:6px;padding-bottom:6px;color:black">Tweets</div>
			<div class="tweet-box own-link" style="padding-left:10px;padding-right:10px;padding-top:6px;padding-bottom:6px;">Following</div>
			<div class="tweet-box own-link" style="padding-left:10px;padding-right:10px;padding-top:6px;padding-bottom:6px;">Followers</div>
			<div class="tweet-box own-link" style="padding-left:10px;padding-right:10px;padding-top:6px;padding-bottom:6px;">Favorites</div>
			<div class="tweet-box own-link" style="padding-left:10px;padding-right:10px;padding-top:6px;padding-bottom:6px;">Lists</div>
		</div>
   	<div class="round-box">
			tweets<br/>
			tweets<br/>
			tweets<br/>
			tweets<br/>
			tweets<br/>
			tweets<br/>
			tweets<br/>
		</div>
	</div>
	<div class="content">
		<div class="round-box" id="tweets">
					<h2>&nbsp&nbspTweets</h2>
			<div class="tweet-box" >
				<div style="padding: 9px 12px 9px;">
				  <table bordar="none">
					<tr VALIGN=TOP>
					 <td>					
						<a href="#">
				       <img class="profile-image" src="images/BGtwitter_normal.JPG" width="60px" height="60px"></img>
				      </a>
				    </td>
				    <td style=" padding-left:8px;">
				       <a href="#">
			 	 	 	   Bill Gates
		 		        </a>
		 		        <div>.@mark_penn Had great chat w/Friedman, touched on quality of life data. Response was interesting http://b-gat.es/AppLhg http://pic.twitter.com/MM5x3saQ</div>
					 </td>
					</tr>
		 		  </table>
				</div>
			</div>	
			<div class="tweet-box" >
				<div style="padding: 9px 12px 9px;">
				  <table bordar="none">
					<tr VALIGN=TOP>
					 <td style="valign:top;">					
						<a href="#">
				       <img class="profile-image" src="images/BGtwitter_normal.JPG" width="60px" height="60px"></img>
				      </a>
				    </td>
				    <td style=" padding-left:8px;">
				       <a href="#">
			 	 	 	   Bill Gates
		 		        </a>
		 		        <div>.@mark_penn Had great chat w/Friedman, touched on quality of life data. Response was interesting http://b-gat.es/AppLhg http://pic.twitter.com/MM5x3saQ</div>
					 </td>
					</tr>
		 		  </table>
				</div>
			</div>
		</div>
		<div class="round-box" style="display:none" id="following">
			<h2>&nbsp&nbspFollowing</h2>
			<div class="tweet-box" >
				<div style="padding: 9px 12px 9px;">
				  <table bordar="none">
					<tr VALIGN=TOP>     
					 <td style="valign:top;">					
						<a href="#">
				       <img class="profile-image" src="images/BGtwitter_normal.JPG" width="60px" height="60px"></img>
				      </a>
				    </td>
				    <td style="width:340px; padding-left:8px;">
				       <a href="#">
			 	 	 	   Bill Gates 
		 		        </a>
		 		        <small>@billgates</small>
		 		        <div></div>
					 </td>
					 <td>
					   <a class="following-btn" href="#">Following</a>
					 </td>
					</tr>
		 		  </table>
				</div>
			</div>
			<div class="tweet-box" >
				<div style="padding: 9px 12px 9px;">
				  <table bordar="none">
					<tr VALIGN=TOP>     
					 <td style="valign:top;">					
						<a href="#">
				       <img class="profile-image" src="images/BGtwitter_normal.JPG" width="60px" height="60px"></img>
				      </a>
				    </td>
				    <td style="width:340px; padding-left:8px;">
				       <a href="#">
			 	 	 	   Bill Gates 
		 		        </a>
		 		        <small>@billgates</small>
		 		        <div></div>
					 </td>
					 <td>
					   <a class="following-btn" href="#">Following</a>
					 </td>
					</tr>
		 		  </table>
				</div>
			</div>
		</div>
		<div class="round-box" style="display:none" id="followers">
			<h2>&nbsp&nbspFollowers</h2>
			
			 <div class="tweet-box" >
				<div style="padding: 9px 12px 9px;">
				  <table bordar="none">
					<tr VALIGN=TOP>     
					 <td style="valign:top;">					
						<a href="#">
				       <img class="profile-image" src="images/BGtwitter_normal.JPG" width="60px" height="60px"></img>
				      </a>
				    </td>
				    <td style="width:340px; padding-left:8px;">
				       <a href="#">
			 	 	 	   Bill Gates 
		 		        </a>
		 		        <small>@billgates</small>
		 		        <div></div>
					 </td>
					 <td>
					   <a class="follow-btn" href="#">Follow</a>
					 </td>
					</tr>
		 		  </table>
				</div>
			</div>
			<div class="tweet-box" >
				<div style="padding: 9px 12px 9px;">
				  <table bordar="none">
					<tr VALIGN=TOP>     
					 <td style="valign:top;">					
						<a href="#">
				       <img class="profile-image" src="images/BGtwitter_normal.JPG" width="60px" height="60px"></img>
				      </a>
				    </td>
				    <td style="width:340px; padding-left:8px;">
				       <a href="#">
			 	 	 	   Bill Gates 
		 		        </a>
		 		        <small>@billgates</small>
		 		        <div></div>
					 </td>
					 <td>
					   <a class="following-btn" href="#">Following</a>
					 </td>
					</tr>
		 		  </table>
				</div>
			</div>
		</div>
		<div class="round-box" style="display:none" id="favorites">
			<h2>&nbsp&nbspFavourites</h2>
		</div>
		<div class="round-box" style="display:none" id="lists">
			<h2>&nbsp&nbspLists</h2>
		</div>
	</div>
	<div class="footer" />
</div>
</body>
</html>

